version: '3.0'
services:
  main:
#    build: .
    image: paccy/backend-spring-security
    container_name: backend-security
    env_file:
      .env
    depends_on:
      db:
        condition: service_started
    ports:
      - "80:8080"
    networks:
      - security-net

#  mysql:
#    image: mysql:8.0.32
#    container_name: mysql
#    mem_limit: 512m
#    ports:
#      - "3306:3306"
#    environment:
#      - MYSQL_ROOT_PASSWORD=rootpwd
#      - MYSQL_DATABASE=security-db
#      - MYSQL_USER=user
#      - MYSQL_PASSWORD=pwd
#    volumes:
#      - mysql_data:/var/lib/mysql
#    healthcheck:
#      test: "/usr/bin/mysql --user=user --password=pwd --execute \"SHOW DATABASES;\""
#      interval: 5s
#      timeout: 2s
#      retries: 60
#    networks:
#     - security-net
  db:
    image: postgres:15
    container_name: db-services
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: userpass
      POSTGRES_DATABASE: commit-security-db
    volumes:
     - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always
    networks:
      - security-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pg-admin-services
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin_password
    ports:
      - "7070:80"
    restart: always
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - security-net

volumes:
  postgres_data:
  pgadmin_data:
networks:
  security-net:
    driver: bridge